<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CharityWebTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>     
  	<servlet-name>Beer</servlet-name>     
  	<servlet-class> com.example.web.BeerSelect    </servlet-class> 	
  </servlet> 
  
  <servlet-mapping>    
  	 <servlet-name>Beer</servlet-name>     
  	 <url-pattern>/SelectBeerT.do</url-pattern> 
  </servlet-mapping> 
  
  
  
  <servlet>     
  	<servlet-name>Home</servlet-name>     
  	<servlet-class> web.Controller</servlet-class> 	
  </servlet>
  <servlet-mapping>    
  	 <servlet-name>Home</servlet-name>     
  	 <url-pattern>/Controller.java</url-pattern> 
  </servlet-mapping>  
     
     
      <servlet>     
  	<servlet-name>searchName</servlet-name>     
  	<servlet-class> web.searchName </servlet-class> 	
  </servlet>
  <servlet-mapping>    
  	 <servlet-name>searchName</servlet-name>     
  	 <url-pattern>/searchName.do</url-pattern> 
  </servlet-mapping>  
  
        <servlet>     
  	<servlet-name>searchBnum</servlet-name>     
  	<servlet-class> web.searchBnum</servlet-class> 	
  </servlet>
  <servlet-mapping>    
  	 <servlet-name>searchBnum</servlet-name>     
  	 <url-pattern>/searchBnum.do</url-pattern> 
  </servlet-mapping>  
     
     
    <servlet>     
  	<servlet-name>searchAll</servlet-name>     
  	<servlet-class> web.searchAll</servlet-class> 	
  </servlet>
  <servlet-mapping>    
  	 <servlet-name>searchAll</servlet-name>     
  	 <url-pattern>/searchAll.do</url-pattern> 
  </servlet-mapping>  
     
      <servlet>     
  	<servlet-name>ControllerCharity</servlet-name>     
  	<servlet-class> web.ControllerCharity</servlet-class> 	
  </servlet>
  <servlet-mapping>    
  	 <servlet-name>ControllerCharity</servlet-name>     
  	 <url-pattern>/ControllerCharity.do</url-pattern> 
  </servlet-mapping>  
     
  
  
</web-app>